Required Python modules:
	standart modules:
		- pip os
		- pip tkinter
		- pip numpy
	extra modules:
		- pip tensorflow
		- pip keras
		- pip imageai
		- pip scipy
		- pip pillow
		- pip h5py
		- pip matplotlib
		- pip opencv-python
Object detection model:
	- YOLOv3: https://github.com/OlafenwaMoses/ImageAI/releases/download/1.0/yolo.h5
		
